<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>Szkola_programowania</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>  
  
    <servlet>
    <servlet-name>Servlet22</servlet-name>
    <servlet-class>pl.coderslab.Servlet22</servlet-class>
    <init-param>
      <param-name>myParam</param-name>
      <param-value>wartosc parametru = coderslab.pl</param-value>
    </init-param>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Servlet22</servlet-name>
    <url-pattern>/Servlet22</url-pattern>
  </servlet-mapping>
	<context-param>
		<param-name>number-solution</param-name>
		<param-value>5</param-value>
	</context-param>
  
</web-app>